/* CORE STYLES */
:root {
    --primary-color: rgba(57, 196, 14, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
    --banner-img:url('../img/banner.jpg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font:16px/1.6 Quicksand, sans-serif;
    }

.container {
    margin: auto;
    overflow: hidden;
}

ul{
    list-style: none;
}

.grid{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: var(--primary-color);
    border: 0;
    margin-bottom: 50px;
}

 section {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 80px 100px;
}


 /* section h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 35px;
    text-align: center;
}  */
 h1.title{
    padding: 4rem;
    font: bold 32px "quicksand";
    color:var(--primary-color);
    }

 h3.index-title {
     padding-bottom: 4rem;
     font: bold 32px "quicksand";
     color: var(--primary-color);
 }

 section p {
     max-width: 800px;
     text-align: center;
     margin-bottom: 35px;
     padding: 0 20px;
     line-height: 2;
 }

/*  NAVBAR GENERAL STYLES  */
nav{
    background: var(--overlay-color);
    height:62px;
    border-bottom:var(--primary-color) 3px solid;
    color: aliceblue;
    }
   
nav a{
color:#ffffff;
text-decoration:none;
text-transform: uppercase;
font-size:16px;
}

/* nav .current a{
    color:var(--primary-color);
    font-weight: bold;
} */
 
.menu-wrap .menu .current a{
  color:var(--primary-color);
  font-weight: bold;
}
 .menu-wrap .menu>div>ul>li>a:hover {
     color: #cccccc;
 }






@media (max-width: 800px){
    section{
    padding: 50px 20px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    text-align: center;
    opacity: 1;
}

 /* SHOWCASE */
.showcase {
    position: relative;
    justify-content: center;
    min-height: 60vh;
    color: #fff;
    text-align: center;
    padding-bottom: 0;
}
.showcase .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #4f9129;
    z-index: -1;
}

.showcase h1 {
    font: bold 55px Quicksand;
    margin-bottom: 15px;
}

.showcase h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
}

.showcase a.btn {
    padding: 20px 46px;
}

.showcase-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px) {

    .showcase{
      min-height: 85vh;
    }
.showcase .background-image {
    min-height: 100%;
}
    .showcase h1 {
        font-size: 30px;
    }

    .showcase h3 {
        font-size: 18px;
    }

    .showcase a.btn {
        padding: 12px 30px;
    }
}

@media (max-width: 550px) {
    .showcase {
        min-height: 60vh;
    }

    .showcase .background-image {
        min-height: 100%;
        background-position: -80px;
    }

    .showcase h1 {
        font-size: 38px;
    }

    .showcase h3 {
        font-size: 24px;
    }

    .showcase a.btn {
        padding: 12px 30px;
    }
}


/* ABOUT */
.about-text{
    padding: 0;
}


footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: var(--overlay-color);
    text-align: center;
}

footer a{
    color:var(--primary-color);
}

footer p{
    padding: 10px;
}

/* PHOTOS */

.photos .grid li{
    height:350px;
    padding:20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}


.photos .grid li.small{
    flex-basis: 30%;
}

.photos .grid li.large {
    flex-basis: 70%;
}


@media (max-width: 1100px){
    .photos .grid li.small,
    .photos .grid li.large{
        flex-basis: 50%;
    }
}

@media (max-width: 800px) {
    .photos .grid li.small, 
    .photos .grid li.large {
        flex-basis: 100%;
    }
}

/* GAME INFOS */


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    
}
.box{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
overflow-x:auto;
}
th,
td {
    text-align: left;
    color: white;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: var(--primary-color);
}

tr:nth-child(even) {
    background-color:rgb(68, 209, 99);
}


.maps-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5%;
    }
    @media (max-width:800px){
        iframe{
            width:100%;
        }
        .maps-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5%;
        }
    }
iframe{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-container{
    padding: 4rem;
}

.table-title{
    font-family: Lemonada;
    background:var(--overlay-color) !important;
    color: white;
    text-align: center;
}

/* RULES */
ul {
    list-style-type: square;
}

.groups, .recreation {
    list-style-type: lower-alpha;
}

.coach {
    list-style-type: circle;
}

